services:
  spark-master:
    image: apache/spark:latest
    container_name: spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master --host spark-master
    ports:
      - "8080:8080" # Spark Master UI
  spark-worker:
    image: apache/spark:latest
    container_name: spark-worker
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    depends_on:
      - spark-master
    ports:
      - "8081:8081" # Spark Worker UI
  jupyter:
    image: jupyter/pyspark-notebook:latest
    container_name: jupyter
    environment:
      - JUPYTER_TOKEN=ml2025
    ports:
      - "8888:8888" # Jupyter Notebook
    volumes:
      - ./docs/pyspark:/home/jovyan/work
    depends_on:
      - spark-master
      - spark-worker
